@media (max-width:992px) {
  .navbar-toggler {
    border: none;
    transition-duration: 250ms;
    order: -1;
  }

  .navbar-toggler:active {
    transform: scale(1.1);
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-brand {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    left: -21px;
    padding: 0;
  }
}
